# Ignore all target directories except for source-specific ones
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore all build directories except for source-specific ones
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Mac OS
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Maven-specific directories
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Ignore JAR, WAR, and EAR files
*.jar
*.war
*.ear

# General exclusions
*.class
*.swp
*.swo
*.bak
